/* ======================================================
1. ESTIL GLOBAL I BASE
====================================================== */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f3e8;
    color: #333;
    font-family: sans-serif;
    line-height: 1.6;
    padding-bottom: 0px;
    
}

a {
    text-decoration: none; 
    color: inherit;   
}

img {
    max-width: 100%;
    height: auto;
}


header {
    background-color: #c9a384; 
    color: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center; 
}


nav {
    width: 100%;
    background-color: rgb(44, 44, 44); 
    display: flex;
    justify-content: center;
    gap: 50px; /* VALOR UNIFICAT */
    padding: 10px 0; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: normal; 
}


header h1 {
    font-size: 2.5em; 
    margin-top: 15px; 
    margin-bottom: 0; 
}

header p {
    margin-top: 0; 
    margin-bottom: 0;
}


main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.categoria-panes h2, .categoria-bolleria h2 {
    width: 100%; 
    color: #4a2c1f;
    border-bottom: 2px solid #c9a384;
    padding-bottom: 10px;
    margin: 30px auto 20px auto; 
}

.categoria-panes p, .categoria-bolleria p {
    width: 100%; 
    text-align: center;
    margin-bottom: 20px; 
}

.categoria-panes, .categoria-bolleria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px; 
    padding: 20px 0;
    text-align: center;
}


.producto-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
}


.producto-item img {
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border: none;
    border-radius: 8px; 
    margin-bottom: 10px; 
}


.btn-detalle {
    display: block; 
    background-color: #c9a384; 
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn-detalle:hover {
    background-color: #a88165; 
}


footer {
    width: 100%; 
    background-color: #4a2c1f; 
    color: white; 
    padding: 5px 0; 
    font-size: 14px;  
    text-align: center;
    position: relative; 
    left: 0; 
  
}

.tabla_instagram {
    
    margin: 10px auto; 
    border-collapse: collapse; 
 
}

.tabla_instagram td {
    padding: 0 8px; 
}


.instagram {
    display: inline-block;
    color: #f7f3e8; 
}

.instagram-link {
    text-decoration: none;
}