/* ESTILOS BASE */
body {
    background-color: #f7f3e8;
    color: #333;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.6;
    padding-bottom: 80px;
}

/* HEADER Y NAVEGACIÓN */
header {
    background-color: #c9a384; /* Color de fondo marrón suave */
    color: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

nav {
    width: 100%;
    background-color: rgb(44, 44, 44); /* Color de la barra */
    display: flex;
    justify-content: center; /* Centra los enlaces horizontalmente */
    gap: 50px; /* Separación entre los enlaces del nav */
    padding: 10px 0; 
    
}

nav a {
    color: white;
    text-decoration: none; 
    padding: 5px 10px;   
}

/* CONTENIDO PRINCIPAL */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* ESTILOS DE SECCIÓN Y DISPOSICIÓN DE TARJETAS (FLEXBOX) */
.categoria-panes, .categoria-bolleria {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px; 
    padding: 20px 0;
    text-align: center; /* Alinea los textos dentro de la sección */
}

/* Estilo para los TÍTULOS y DESCRIPCIONES de Sección */
.categoria-panes h2, .categoria-bolleria h2 {
    width: 100%; /* Ocupa el ancho completo para centrar */
    color: #4a2c1f;
    border-bottom: 2px solid #c9a384;
    padding-bottom: 10px;
    
}

.categoria-panes p, .categoria-bolleria p {
    width: 100%; 
    text-align: center;
    margin-bottom: 20px; 
}

/* ESTILO DE CADA TARJETA */
.producto-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
}




/* IMAGEN DENTRO DE LA TARJETA */
.producto-item img {
    width: 100%; /* <- Aquesta línia assegura que ompli l'ample de la targeta (300px) */
    height: 180px; 
    object-fit: cover;
    border-style: solid;
    border: 1px;
    border-radius: 4px;
    margin-bottom: 10px;
    
}

/* BOTÓN DE DETALLE */
.btn-detalle {
    display: block; 
    background-color: #c9a384; 
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn-detalle:hover {
    background-color: #a88165; 
}/* REGLA GENERAL PER EVITAR QUE LES IMATGES ES DESBORDIN */

img {
    max-width: 100%; /* La imatge mai serà més ampla que el seu contenidor */
    height: auto;    /* Manté la proporció per evitar distorsions */
}