
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f3e8; 
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; 
    padding-bottom: 0px; 
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%; 
    height: auto;
}

header {
    background-color: #c9a384; 
    color: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center; 
}


nav {
    width: 100%;
    background-color: rgb(44, 44, 44); 
    display: flex;
    justify-content: center;
    gap: 50px; 
    padding: 10px 0; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: normal; 
}


header h1 {
    font-size: 2.5em; 
    margin-top: 15px; 
    margin-bottom: 0;
}

.H1-2 {
    font-size: 1.5em; 
    margin-top: 0; 
    margin-bottom: 0;
}

header p {
    margin-top: 0; 
    margin-bottom: 25px;
    font-style: italic;
    margin-bottom: 0;
}


main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

 img {
    margin-top: 15px;
    max-width: 100%; 
    height: auto; 
    margin: 20px 0;
}

footer {
    width: 100%; 
    background-color: #4a2c1f; 
    color: white; 
    padding: 5px 0; 
    font-size: 14px;  
    text-align: center;
    position: relative; 
    left: 0; 
  
}

.tabla_instagram {
    
    margin: 10px auto; 
    border-collapse: collapse; 
 
}

.tabla_instagram td {
    padding: 0 8px; 
}


.instagram {
    display: inline-block;
    color: #f7f3e8; 
}

.instagram-link {
    text-decoration: none;
}