
* {
    box-sizing: border-box; 
}

body {
    background-color: #f7f3e8; 
    color: #333;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    padding-bottom: 0px; 
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%; 
    height: auto;
}


header {
    background-color: #c9a384; 
    color: white;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center; 
}


nav {
    width: 100%;
    background-color: rgb(44, 44, 44); 
    display: flex;
    justify-content: center;
    gap: 50px; 
    padding: 10px 0; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: normal; 
}


header h1 {
    font-size: 2.2em; 
    margin-top: 10px;
}



main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    color: #4a2c1f; 
    border-bottom: 2px solid #c9a384;
    padding-bottom: 10px;
    margin: 30px auto 20px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}


.categoria-panes, .categoria-bolleria {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px; 
    padding: 20px 0;
    text-align: center; 
}

.producto-item {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 15px;
    width: 300px;
    text-align: center;
}

.producto-item img {
    width: 100%;
    height: 180px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 10px;
    border: none; 
}

.btn-detalle {
    display: block; 
    background-color: #c9a384; 
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 15px; 
}



.enlace-volver {
    text-align: center; 
    margin: 15px 0;
}

.btn-volver {
    background-color: #4a2c1f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.info-principal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px; 
    text-align: left;
    margin-bottom: 20px; 
}

.info-principal img {
    width: 45%; 
    height: 350px; 
    object-fit: cover; 
    margin-top: 10px;
    border-radius: 8px; 
}

.descripcion-producto {
    width: 50%;
}



.info-adicional {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 0;
}


.tabla-horarios {
    width: 100%; 
    max-width: 450px; 
    border-collapse: collapse;
    margin: 15px auto; 
}

.tabla-horarios tr:first-child {
    background-color: #c9a384; 
    color: white;
    font-weight: bold;
}

.tabla-horarios td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}


footer {
    width: 100%; 
    background-color: #4a2c1f; 
    color: white; 
    padding: 5px 0; 
    font-size: 14px;  
    text-align: center;
    position: relative; 
    left: 0; 
  
}

.tabla_instagram {
    
    margin: 10px auto; 
    border-collapse: collapse; 
 
}

.tabla_instagram td {
    padding: 0 8px; 
}


.instagram {
    display: inline-block;
    color: #f7f3e8; 
}

.instagram-link {
    text-decoration: none;
}