.instagram{
        display:inline-block;
}

footer {
    position: fixed;      
    bottom: 0;            
    left: 0;
    width: 100%;          
    text-align: center;
    color: white;          
    padding: 10px 0;       
    font-size: 14px;       
}

.tabla_instagram{
    .tabla-contenedor {
    display: flex;
    justify-content: center; /* centra horizontalmente */
}

}
